@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: #602a43;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.particles{
    height: 100vh;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.017);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 6px;
    border: 1px solid rgba(103, 103, 103, 0.18);    flex-direction: column;
    padding: 2rem;
}

.container > .logo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container > .logo > img {
    width: 200px;
}

.container > .text {
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container > .mail {
    font-size: .6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.container > .mail > a {
    color: #fff;
    text-decoration: none;
}
.container > .footer {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 1rem;
    font-style: italic;
}